SUPABASE_URL=https:https://qecjkvvxkbwswpzqobzc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlY2prdnZ4a2J3c3dwenFvYnpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1ODY3ODIsImV4cCI6MjA3OTE2Mjc4Mn0.2Xzr47zJv72osZV4JdtbLZrFuuYTyY4OOjFYXjReSMk
ANTHROPIC_API_KEY=sk-ant-api03-...
GEMINI_API_KEY=AIza...
INGESTION_ORG_ID=1f69385e-abe3-44eb-8050-69bc72e63aeb